########################################################
#  Options from command line arguments:
#
#  NOTE: command line options take priority over the
#        ones entered with the configuration file.
########################################################
configfile                    RASLLLLILLGVLLGVLLTILILI_23/rerun.config
useElec                       true

########################################################
#  Options from configuration file :
########################################################
configfile                    RASLLLLILLGVLLGVLLTILILI_23/rerun.config
configfile                    RASLLLLILLGVLLGVLLTILILI_23/rerun.config
configfile                    RASLLLLILLGVLLGVLLTILILI_23/rerun.config
configfile                    RASLLLLILLGVLLGVLLTILILI_23/rerun.config
configfile                    RASLLLLILLGVLLGVLLTILILI_23/rerun.config
configfile                    RASLLLLILLGVLLGVLLTILILI_23/rerun.config
configfile                    RASLLLLILLGVLLGVLLTILILI_23/rerun.config
configfile                    RASLLLLILLGVLLGVLLTILILI_23/rerun.config
configfile                    RASLLLLILLGVLLGVLLTILILI_23/rerun.config
useElec                       true
useElec                       true
useElec                       true
useElec                       false
negRot                        true
negAngle                      true
seed                          23
thread                        20
MCCycles                      100
MCMaxRejects                  2
MCStartTemp                   1000
MCEndTemp                     0.5
MCCurve                       3
sequence                      RASLLLLILLGVLLGVLLTILILI
xShift                        7.5
crossingAngle                 51
axialRotation                 89.00
zShift                        5.655
topFile                       /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/top_all22_prot.inp
solvFile                      /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/solvpar22.inp
parFile                       /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/par_all22_prot.inp
hbondFile                     /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/par_hbond_CA.inp
rotLibFile                    /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/rotlib_combined_-60_-40.txt
verbose                       true
backboneFile                  /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/69-gly-residue-helix.pdb
helicalAxis                   /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/helicalAxis.pdb
helixGeoFile                  /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/CENTROIDS_0.5_cutoff-6_byHbond
greedyCycles                  3
sasaRepackLevel               SL95.00
sasaRepackLevel               SL95.00
sasaRepackLevel               SL95.00
sasaRepackLevel               SL95.00
weight_vdw                    1.0
weight_hbond                  1.0
weight_solv                   1.0
useAlaAtCTerminus             false

