########################################################
#  Options from command line arguments:
#
#  NOTE: command line options take priority over the
#        ones entered with the configuration file.
########################################################
configfile                    config/backboneOptimizer_v2.config
thread                        21

########################################################
#  Options from configuration file :
########################################################
thread                        23
backboneFile                  /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/69-gly-residue-helix.pdb
helicalAxis                   /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/helicalAxis.pdb
topFile                       /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/top_all22_prot.inp
parFile                       /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/par_all22_prot.inp
hbondFile                     /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/par_hbond_CA.inp
rotLibFile                    /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/rotlib_combined_-60_-40.txt
helixGeoFile                  /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/CENTROIDS_0.5_cutoff-6_byHbond
solvFile                      /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/solvpar22.inp
sequence                      LLLWLLLGALLGALLAVLILI
greedyCycles                  10
seed                          0
xShift                        7.5
zShift                        4.0
axialRotation                 40
crossingAngle                 -39
sasaRepackLevel               SL95.00
sasaRepackLevel               SL95.00
sasaRepackLevel               SL85.00
sasaRepackLevel               SL60.00
MCCycles                      100
MCMaxRejects                  10
MCStartTemp                   100
MCEndTemp                     0.5
MCCurve                       3
weight_vdw                    1.0
weight_hbond                  1.0
weight_solv                   1.0
weight_elec                   1.0
verbose                       false
useElec                       false
useAlaAtCTerminus             false

