#Configuration File for helixGenerator

#Parameter Files
helixGeoFile    /data03/CATM/files/CENTROIDS_0.5_cutoff-6_byHbond
#helixGeoFile    /data07/sanderson/CATM/files/CENTROIDS_0.5_cutoff-6_byHbond
topFile         /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/toppar_HSZ/top_all22_prot.inp
parFile         /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/toppar_HSZ/par_all22_prot.inp
baselineFile    /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/par_baseline_01.txt
solvFile        /data03/CATM/topparsolvhbond/solvpar22.inp
#topFile         /data07/sanderson/CATM/topparsolvhbond/top_all22_prot.inp 
#parFile         /data07/sanderson/CATM/topparsolvhbond/par_all22_prot.inp  
rotLibFile      /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/EBL_11-2011_CHARMM22_Zinc.txt
#rotLibFile      /data07/sanderson/CATM/rotlib/rotlib_combined_-60,-40.txt
backboneCrd     /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.crd 
hbondFile       /data01/sabs/tmRepacks/charmm/par_hbond_CA_2.txt
#hbondFile       /data07/sanderson/CATM/topparsolvhbond/par_hbond_CA.inp
pdbOutputDir    /exports/home/gloiseau/Generated_PDBs/designSequenceShuffle
rulesFile       /data07/sanderson/CATM/files/TMRULES_byHbond.txt
infile          /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.pdb
#infile          /exports/home/gloiseau/Generated_PDBs/helixGen.pdb#

#Threading Parameters
threadStart   1
threadEnd     1
threadBool  false

#Transformation Parameters
#xShift           6.5943
#zShift           1.52171
#axialRotation   -58.8094
#crossingAngle   -48.1435
#transform        true

xShift           10.0
zShift           0
axialRotation    0
crossingAngle    25.0
transform        true
thread           28

#the center is around 31, so total to thread around is really 62 to get to center, so with 31 bblength, 31/2 approximately 16 to thread start

#Sequence Parameters
#sequence   LLLLLLLLLLLLLLLLLLLLLLLL
backboneAA       G
backboneLength  30 #Samantha added in the RAS, so adds 3 extra when extended
sequence         GGGGGGGGGGGGGGGGGGGGG
seqNumber        10000 

#MC Parameters
MCCycles        10
MCMaxRejects    10
MCStartTemp   1000
MCEndTemp        0
MCCurve          2
seed             1

deltaZ         0.5
deltaAx        1.0
deltaCross     1.0
deltaX         0.5

#Weight Parameters
weight_vdw     1
weight_hbond   0
weight_solv    0

#Number of Rotamers
SL        60.00

#Chain Start and End points for search space
start      3
end       36

#Energy for optimizedRotamers method
ener     -20

#writing Parameters
#angles    3
#wipe
#maybe at some point? but for now I think the parameters are good fixed (wiped also changes depending on number of atoms, so if you forget to change it, could just lead to no results      

#Ids (as one letter) and weights
#ids         L   I   V   A   F   G   S   T   M   Y   P   W   C   N   Q   H   D   E   K   R
weights     19  12  11  10  9   7   6   5   4   3   3   2   2   1   1   1   1   1   1   1
ids GASVIMFYW


