#Configuration File for helixGenerator

#Parameter Files
helixGeoFile    /data03/CATM/files/CENTROIDS_0.5_cutoff-6_byHbond
#helixGeoFile    /data07/sanderson/CATM/files/CENTROIDS_0.5_cutoff-6_byHbond
topFile         /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/toppar_HSZ/top_all22_prot.inp
parFile         /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/toppar_HSZ/par_all22_prot.inp
solvFile        /data03/CATM/topparsolvhbond/solvpar22.inp
#topFile         /data07/sanderson/CATM/topparsolvhbond/top_all22_prot.inp 
#parFile         /data07/sanderson/CATM/topparsolvhbond/par_all22_prot.inp  
rotLibFile      /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/EBL_11-2011_CHARMM22_Zinc.txt
#rotLibFile      /data07/sanderson/CATM/rotlib/rotlib_combined_-60,-40.txt
backboneCrd     /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.crd 
hbondFile       /data01/sabs/tmRepacks/charmm/par_hbond_CA_2.txt
#hbondFile       /data07/sanderson/CATM/topparsolvhbond/par_hbond_CA.inp
#pdbOutputDir    /data02/gloiseau/Sequence_Design_Project/Baseline_Generator
pdbOutputDir    /exports/home/gloiseau/Generated_PDBs/baselineGenerator
rulesFile       /data07/sanderson/CATM/files/TMRULES_byHbond.txt
infile          /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.pdb
#infile          /exports/home/gloiseau/Generated_PDBs/helixGen.pdb#

#Threading Parameters
threadStart   1
threadEnd     1
threadBool  false

#Sequence Parameters
#sequence   LLLLLLLLLLLLLLLLLLLLLLLL
backboneAA       G
backboneLength   21 #to keep the same as my others program
sequence         G
#seqNumber        1000000

#MC Parameters
mcCycles       1
mcMaxRejects  10
seed           1

#Weight Parameters
weight_vdw     1
weight_hbond   0
weight_solv    1

#Number of Rotamers
#SL        90.00

#Chain Start and End points for search space
start      3
end       36

#Ids (as one letter) and weights
#ids         L   I   V   A   F   G   S   T   M   Y   P   W   C   N   Q   H   D   E   K   R
#weights     19  12  11  10  9   7   6   5   4   3   3   2   2   1   1   1   1   1   1   1
#ids         L   I   V   A   F   G   S   T   M   Y   W   C   N   Q   H   D   E   K   R
#weights     22  12  11  10  9   7   6   5   4   3   2   2   1   1   1   1   1   1   1
#weights     16  11  11  13  8   9   5   6   4   3   3   1   1   1   2   1   1   1   1
ids         L     I     V     A     F     G     S     T     M     Y     W     C     N     Q     H     D     E     K     R
weights     0.16  0.10  0.08  0.09  0.08  0.08  0.07  0.07  0.04  0.03  0.03  0.02  0.03  0.02  0.02  0.01  0.01  0.01  0.01


