#Configuration File for generateCATMPDBs

#Parameter Files
helixGeoFile    /data03/CATM/files/CENTROIDS_0.5_cutoff-6_byHbond
#helixGeoFile    /data07/sanderson/CATM/files/CENTROIDS_0.5_cutoff-6_byHbond
topFile         /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/toppar_HSZ/top_all22_prot.inp
parFile         /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/toppar_HSZ/par_all22_prot.inp
#topFile         /data07/sanderson/CATM/topparsolvhbond/top_all22_prot.inp 
#parFile         /data07/sanderson/CATM/topparsolvhbond/par_all22_prot.inp  
rotLibFile      /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/EBL_11-2011_CHARMM22_Zinc.txt
#rotLibFile      /data07/sanderson/CATM/rotlib/rotlib_combined_-60,-40.txt
backboneCrd     /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.crd 
hbondFile       /data01/sabs/tmRepacks/charmm/par_hbond_CA_2.txt
#hbondFile       /data07/sanderson/CATM/topparsolvhbond/par_hbond_CA.inp
pdbOutputDir    /exports/home/gloiseau/Generated_PDBs/sequenceDesign
rulesFile       /data07/sanderson/CATM/files/TMRULES_byHbond.txt
infile          /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.pdb

