########################################################
#  Options from command line arguments:
#
#  NOTE: command line options take priority over the
#        ones entered with the configuration file.
########################################################
configfile                    calcEnergy.config
outputDir                     LLLTFLLGVLLGLLLGALILI
pdbFile                       4458_0.pdb
sequence                      LLLTFLLGVLLGLLLGALILI
interfaceLevel                000110011001100110000
xShift                        6.5512
crossingAngle                 38.899
negAngle                      true
axialRotation                 87.213
negRot                        true
zShift                        4.90918

########################################################
#  Options from configuration file :
########################################################
outputDir                     
pdbFile                       69-gly-residue-helix.pdb
interfaceLevel                2
xShift                        9.2
crossingAngle                 25.0
axialRotation                 40
zShift                        4.0
helicalAxis                   helicalAxis.pdb
backboneFile                  69-gly-residue-helix.pdb
topFile                       top_all22_prot.inp
parFile                       par_all22_prot.inp
solvFile                      solvpar22.inp
rotLibFile                    rotlib_combined_-60_-40.txt
terminiRotLibFile             EBL_11-2011_CHARMM22.txt
backboneCrd                   69-gly-residue-helix.crd
hbondFile                     par_hbond_CA_2.txt
seqEntropyFile                2021_12_05_seqEntropies.txt
seqEntropyFile                2021_12_05_seqEntropies.txt
infile                        69-gly-residue-helix.pdb
geometryDensityFile           2021_10_11_geometryDensityFile.txt
AACompositionPenaltyFile      AACompositionPenalties.out
thread                        23
interface                     000110011001100110000
MCCycles                      100
MCMaxRejects                  5
MCStartTemp                   1000
MCEndTemp                     0.5
MCCurve                       3
seed                          1
backboneMCCycles              500
backboneMCMaxRejects          5
backboneMCStartTemp           1000
backboneMCEndTemp             0.5
backboneMCCurve               3
backboneConvergedSteps        1000
backboneConvergedE            0.001
backboneRepackCycles          3
deltaZ                        1
deltaAx                       5
deltaCross                    5
deltaX                        1
SL                            97.00
verbose                       false
greedyCycles                  3
sasaRepackLevel               SL95.00
sasaRepackLevel               SL95.00
sasaRepackLevel               SL85.00
sasaRepackLevel               SL60.00
alternateIds                  LEU ALA SER VAL ILE THR TRP TYR PHE
energyTermList                CHARMM_VDW SCWRL4_HBOND CHARMM_IMM1 CHARMM_IMM1REF

