########################################################
#  Options from command line arguments:
#
#  NOTE: command line options take priority over the
#        ones entered with the configuration file.
########################################################
configfile                    config/calcEnergyOrMutate.config

########################################################
#  Options from configuration file :
########################################################
helicalAxisFile               /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/helicalAxis.pdb
backboneFile                  /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/69-gly-residue-helix.pdb
topFile                       /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/top_all22_prot.inp
parFile                       /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/par_all22_prot.inp
solvFile                      /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/solvpar22.inp
rotLibFile                    /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/rotlib_combined_-60_-40.txt
terminiRotLibFile             /mnt/d/github/mslib/trunk_AS/library/EBL_11-2011_CHARMM22.txt
backboneCrd                   /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/69-gly-residue-helix.crd
hbondFile                     /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/par_hbond_CA_2.txt
seqEntropyFile                /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_12_05_seqEntropies.txt
seqEntropyFile                /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_12_05_seqEntropies.txt
infile                        /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/69-gly-residue-helix.pdb
geometryDensityFile           /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_10_11_geometryDensityFile.txt
selfEnergyFileSPM             /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_08_30_selfBaselineLILI.txt
pairEnergyFileSPM             /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_08_30_pairBaselineLILI.txt
selfEnergyFile                /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_11_22_IMM1SelfBaseline.txt
pairEnergyFile                /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_11_22_IMM1PairBaseline.txt
AACompositionPenaltyFile      /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/designFiles/AACompositionPenalties.out
pdbFile                       /mnt/d/github/mslib/trunk_AS/design_1/1_0.pdb
outputDirName                 test
MCCycles                      100
MCMaxRejects                  5
MCStartTemp                   1000
MCEndTemp                     0.5
MCCurve                       3
seed                          1
SL                            60.00
alternateIds                  LEU ALA SER VAL ILE THR TRP TYR PHE
energyTermList                CHARMM_VDW SCWRL4_HBOND CHARMM_IMM1 CHARMM_IMM1REF

