########################################################
#  Options from command line arguments:
#
#  NOTE: command line options take priority over the
#        ones entered with the configuration file.
########################################################
configfile                    config/backboneOptimizer_v4.config

########################################################
#  Options from configuration file :
########################################################
backboneFile                  /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/69-gly-residue-helix.pdb
helicalAxis                   /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/helicalAxis.pdb
topFile                       /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/top_all22_prot.inp
parFile                       /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/par_all22_prot.inp
hbondFile                     /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/par_hbond_CA.inp
rotLibFile                    /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/rotlib_combined_-60_-40.txt
helixGeoFile                  /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/CENTROIDS_0.5_cutoff-6_byHbond
solvFile                      /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/solvpar22.inp
geometryDensityFile           /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_10_11_geometryDensityFile.txt
sequence                      RASLLLVLLLAMLLGALLAALILI
greedyCycles                  3
seed                          0
verbose                       false
verbose                       false
xShift                        7.5
zShift                        3
axialRotation                 -61
crossingAngle                 -51
thread                        1
numRepacks                    2
SL                            95.00
crossAngle                    -75
crossAngle                    -60
crossAngle                    -45
crossAngle                    -30
crossAngle                    -15
crossAngle                    15
crossAngle                    30
crossAngle                    45
crossAngle                    60
MCCycles                      100
MCMaxRejects                  10
MCStartTemp                   100
MCEndTemp                     0.5
MCCurve                       3
weight_vdw                    1.0
weight_hbond                  1.0
weight_solv                   1.0
weight_elec                   1.0
useElec                       false
useAlaAtCTerminus             false
getRandomAxAndZ               true

