#Configuration file for a typical run
#To compile and run, from trunk:
#   -make bin/backboneOptimizer
#   -bin/backboneOptimizer --config config/backboneOptimizer.config
# This particular protein example runs ~in 15 minutes
backboneFile              /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/69-gly-residue-helix.pdb
helicalAxis               /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/helicalAxis.pdb
topFile                   /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/top_all22_prot.inp
parFile                   /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/par_all22_prot.inp
hbondFile                 /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/par_hbond_CA.inp
rotLibFile                /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/rotlib_combined_-60_-40.txt
helixGeoFile              /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/CENTROIDS_0.5_cutoff-6_byHbond
solvFile                  /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/solvpar22.inp

#
sequence LLLVALLIALLLTLLSLLILI
greedyCycles 10
seed 0

#Geometry Parameters
xShift           8.6429
zShift           3.57886
axialRotation    96.3894
crossingAngle    35.9412
thread           23

#MC Parameters
MCCycles          100
MCMaxRejects        5
MCStartTemp       100
MCEndTemp         0.5
MCCurve             3

#Weights
weight_vdw 1.0
weight_hbond 1.0
weight_solv 1.0
weight_elec 1.0

#Booleans
verbose false
useElec false
useAlaAtCTerminus false
negRot false
negAngle false

# interactions to delete
deleteTerminalBondInteractions SCWRL4_HBOND