#Configuration file for a typical run
#To compile and run, from trunk:
#   -make bin/backboneOptimizer
#   -bin/backboneOptimizer --config config/backboneOptimizer.config
# This particular protein example runs ~in 15 minutes
backboneFile   /exports/home/gloiseau/mslib/trunk_AS/myProgs/CATM/parameterFiles/69-gly-residue-helix.pdb
topFile        /exports/home/gloiseau/mslib/trunk_AS/myProgs/CATM/parameterFiles/top_all22_prot.inp
parFile        /exports/home/gloiseau/mslib/trunk_AS/myProgs/CATM/parameterFiles/par_all22_prot.inp
hbondFile      /exports/home/gloiseau/mslib/trunk_AS/myProgs/CATM/parameterFiles/par_hbond_CA.inp
rotLibFile     /exports/home/gloiseau/mslib/trunk_AS/myProgs/CATM/parameterFiles/rotlib_combined_-60_-40.txt
helixGeoFile   /exports/home/gloiseau/mslib/trunk_AS/myProgs/CATM/parameterFiles/CENTROIDS_0.5_cutoff-6_byHbond
solvFile       /exports/home/gloiseau/mslib/trunk_AS/myProgs/CATM/parameterFiles/solvpar22.inp
outputDir      /data02/gloiseau/Sequence_Design_Project/Design_Data/backboneOptimization

#
greedyCycles 10
seed 0

#Transformation Parameters
xShift           9.2
zShift           4.0
axialRotation    40
crossingAngle    25.0
transform        true
thread           25
getGeoFromPDBData true
vdWEnergyCutoff  -30

#SASA Rotamers
sasaRepackLevel  SL95.00
sasaRepackLevel  SL95.00
sasaRepackLevel  SL85.00
sasaRepackLevel  SL60.00

#Weights
weight_vdw 1.0
weight_hbond 1.0
weight_solv 1.0
#weight_elec 1.0

# alternate identities
ids ALA SER VAL ILE THR TRP TYR PHE GLY

#Booleans
verbose true
useElec true
useAlaAtCTerminus true