#Configuration File for baselineComparison 19-10-2

#Parameter Files
backboneCrd    /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/69-gly-residue-helix.crd
infile         /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/69-gly-residue-helix.pdb
topFile        /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/top_all22_prot.inp 
parFile        /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/par_all22_prot.inp
hbondFile      /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/par_hbond_CA_2.txt
rotLibFile     /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/rotlib_combined_-60_-40.txt
helixGeoFile   /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/CENTROIDS_0.5_cutoff-6_byHbond 
rulesFile      /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/TMRULES_byHbond.txt
solvFile       /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/solvpar22.inp

#Threading Parameters
threadStart   1
threadEnd     1
threadBool  false

#Transformation Parameters
xShift           6.5943
zShift           1.52171
axialRotation   -58.8094
crossingAngle   -48.1435
transform        true
#the center is around 31, so total to thread around is really 62 to get to center, so with 31 bblength, 31/2 approximately 16 to thread start

#Sequence Parameters
backboneAA       G
backboneLength  21 #Samantha added in the RAS, so adds 3 extra when extended
sequence         G
seqNumber      100
pairDist        10

#MC Parameters
MCCycles       1
MCMaxRejects  10
seed           1

#Weight Parameters
weight_vdw     1
weight_hbond   1
weight_solv    1

#Number of Rotamers
SL        95.00

#Chain Start and End points for search space
start      3
end       36

#Energy for optimizedRotamers method
ener     -20

#writing Parameters
#angles    3
#wipe
#maybe at some point? but for now I think the parameters are good fixed (wiped also changes depending on number of atoms, so if you forget to change it, could just lead to no results      

#Ids (as one letter) and weights
baselines         -4.689 -3.128 -2.315 -3.138 6.037  -2.339 -5.287 -4.774 -5.389 5.430  1.836  -4.118 -4.267 -5.914 -5.599 -5.229 -6.115 -5.123 -7.982
baselinesInner    -5.491 -4.057 -3.145 -3.824 5.243  -2.965 -6.277 -5.757 -6.189 4.608  1.042  -4.814 -5.106 -6.674 -6.407 -6.188 -6.775 -5.965 -8.895
baselinesvdw      -2.628 -0.999 -0.210 -1.117 8.104  -0.315 -1.142 -0.971 -3.316 7.517  3.923  -2.014 -2.142 -2.415 -3.496 -1.763 -2.279 -3.107 -3.644
baselinesvdwInner -3.131 -1.169 -0.781 -1.480 7.619  -0.619 -1.582 -1.435 -3.824 6.999  3.402  -2.481 -2.677 -2.906 -3.984 -2.251 -2.761 -1.697 -4.158 

#Ids and weigths for nonbiased seq
ids         L   I   V   A   F   G   S   T   M   Y   W   C  
weights     5   5   5   5   5   5   5   5   5   5   5   5


