# Configuration File for baselineIMM1Comparison

# Parameter Files
backboneCrd     /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/69-gly-residue-helix.crd
infile          /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/69-gly-residue-helix.pdb
topFile         /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/top_all22_prot.inp 
parFile         /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/par_all22_prot.inp
hbondFile       /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/par_hbond_CA_2.txt
rotLibFile      /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/rotlib_combined_-60_-40.txt
helixGeoFile    /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/CENTROIDS_0.5_cutoff-6_byHbond 
rulesFile       /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/TMRULES_byHbond.txt
solvFile        /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/solvpar22.inp
selfEnergyFile  /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/baselineEnergyFiles/2021_11_22_IMM1SelfBaseline.txt
pairEnergyFile  /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/baselineEnergyFiles/2021_11_22_IMM1PairBaseline.txt
#if running with a newly calculated self and pair energy files, put those paths here

# Output Directory
pdbOutputDir    /data02/gloiseau/Sequence_Design_Project/Baseline_Comparison/BaselineSelfPair

# Sequence Parameters
backboneAA       G
backboneLength  21 
seqNumber      100
pairDist        10
seed             1
thread           25

# Weight Parameters
weight_vdw     1
weight_hbond   1

# Number of Rotamers
SL        95.00

# Ids and weigths for nonbiased seq
ids         L   I   V   A   F   G   S   T   Y   W  
weights     20  13  10  11  10  10  9   9   4   4
#weights     10  10  10  10  10  10  10  10  10  10
