#Configuration file for calcEnergyOrMutatePdb.cpp

#Parameter Files
backboneCrd               /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.crd 
topFile                   /data07/sanderson/CATM/topparsolvhbond/top_all22_prot.inp 
parFile                   /data07/sanderson/CATM/topparsolvhbond/par_all22_prot.inp  
solvFile                  /data03/CATM/topparsolvhbond/solvpar22.inp
rotLibFile                /data07/sanderson/CATM/rotlib/rotlib_combined_-60,-40.txt
hbondFile                 /data01/sabs/tmRepacks/charmm/par_hbond_CA_2.txt
pdbOutputDir              /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign
infile                    /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.pdb
helicalAxis               /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/helicalAxis.pdb
backboneFile              /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/69-gly-residue-helix.pdb
terminiRotLibFile         /exports/home/gloiseau/mslib/trunk_AS/library/EBL_11-2011_CHARMM22.txt
pdbFile                   /data02/gloiseau/Sequence_Design_Project/DesignRun2/2022-11/2022-11-20_alaNoSeqEntropy/design_2000/2000_0.pdb
outputDir             test

xShift           9.2
zShift           4.13
axialRotation    40.27
crossingAngle    25.0
thread           23

interface 000110011001100110000

# SequenceMC Parameters
MCCycles          100
MCMaxRejects        5
MCStartTemp      1000
MCEndTemp         0.5
MCCurve             3
seed                1


# SequenceMC Parameters
MCCycles          100
MCMaxRejects        5
MCStartTemp      1000
MCEndTemp         0.5
MCCurve             3
seed                1

# BackboneMC Parameters
backboneMCCycles           1
backboneMCMaxRejects        5
backboneMCStartTemp       100
backboneMCEndTemp         0.5
backboneMCCurve             3
deltaZ                      1
deltaAx                   5.0
deltaCross                5.0
deltaX                      1
backboneRepackCycles        1

# Number of Rotamers
SL          97.00

# Load Rotamers based on SASA Scores
sasaRepackLevel     SL97.00     
sasaRepackLevel     SL97.00
sasaRepackLevel     SL85.00
sasaRepackLevel     SL60.00

# AAIdentities
alternateIds LEU ALA SER VAL ILE THR TRP TYR PHE

energyTermList CHARMM_VDW SCWRL4_HBOND CHARMM_IMM1 CHARMM_IMM1REF