#Parameter Files
helicalAxis               helicalAxis.pdb
backboneFile              69-gly-residue-helix.pdb
topFile                   top_all22_prot.inp 
parFile                   par_all22_prot.inp  
solvFile                  solvpar22.inp
rotLibFile                rotlib_combined_-60_-40.txt
backboneCrd               69-gly-residue-helix.crd
hbondFile                 par_hbond_CA_2.txt
seqEntropyFile            2021_12_05_seqEntropies.txt
infile                    69-gly-residue-helix.pdb

thread                    23
greedyCycles              5
positionList            11 15
mutantAA                  ILE 
outputDir                 test_clash
SL                      SL98.00

energyTermList CHARMM_VDW SCWRL4_HBOND CHARMM_IMM1 CHARMM_IMM1REF
deleteTerminalInteractions SCWRL4_HBOND