#Configuration file for a typical CATM run
#To compile and run, from trunk:
#   -make bin/CATM_v24.4
#   -bin/CATM_v24.4 --config config/CATM.config
# This particular protein example runs ~in 15 minutes
backboneCrd    /exports/home/gloiseau/mslib/trunk_AS/myProgs/CATM/parameterFiles/69-gly-residue-helix.crd
topFile        /exports/home/gloiseau/mslib/trunk_AS/myProgs/CATM/parameterFiles/top_all22_prot.inp
parFile        /exports/home/gloiseau/mslib/trunk_AS/myProgs/CATM/parameterFiles/par_all22_prot.inp
hBondFile      /exports/home/gloiseau/mslib/trunk_AS/myProgs/CATM/parameterFiles/par_hbond_CA.inp
rotLibFile     /exports/home/gloiseau/mslib/trunk_AS/myProgs/CATM/parameterFiles/rotlib_combined_-60_-40.txt
monoRotLibFile /exports/home/gloiseau/mslib/trunk_AS/myProgs/CATM/parameterFiles/rotlib_combined_-60_-40.txt
helixGeoFile   /exports/home/gloiseau/mslib/trunk_AS/myProgs/CATM/parameterFiles/CENTROIDS_0.5_cutoff-6_byHbond
rulesFile      /exports/home/gloiseau/mslib/trunk_AS/myProgs/CATM/parameterFiles/TMRULES_byHbond.txt
solvFile       /exports/home/gloiseau/mslib/trunk_AS/myProgs/CATM/parameterFiles/solvpar22.inp
pdbOutputDir   /exports/home/gloiseau

#uniprotName IGS23_HUMAN
#CP8B1 run
useProlineMask false
uniprotAccession Q9UNU6WT
fullSequence RASLLLMVLLGPLLGALLVVLILIN
#uniprotAccession Q9UNU6-A
#fullSequence RASLLLMVLLGALLGALLVVLILIN

weight_vdw 1.0
weight_hbond 1.0
weight_solv 1.0
#weight_elec 1.0

clusterSolutions true
rmsdCutoff 2.0
greedyOptimizer true
greedyCycles 3
printTermEnergies true
printAxes true
numberOfStructuresToMCRepack 1000
energyCutOff 50.0

startResNum 1
endResNum 25
#threadStart 16
#threadEnd 30
tmStart 4
tmEnd 20
threadStart 12
threadEnd 30

#deleteTerminalHbonds true
deleteTerminalBonds true
deleteTerminalInteractions CHARMM_ELEC
deleteTerminalInteractions SCWRL4_HBOND
