#Configuration file for seqDesign.cpp

#Parameter Files
topFile                   /data07/sanderson/CATM/topparsolvhbond/top_all22_prot.inp 
parFile                   /data07/sanderson/CATM/topparsolvhbond/par_all22_prot.inp  
rotLibFile                /data07/sanderson/CATM/rotlib/rotlib_combined_-60,-40.txt
hbondFile                 /data01/sabs/tmRepacks/charmm/par_hbond_CA_2.txt
bbqFile                   /exports/home/gloiseau/mslib/trunk_AS/tables/PiscesBBQTable.txt

# output parameters
outputDir                 /exports/home/gloiseau/mslib/trunk_AS
outputName               test

# chain parameters
chainSeq LLLLLLLLLLLLLLLLLLLLLL
numChains 2

# geometry start and end terms
axialRotStart   -180
axialRotEnd      180
zShiftStart      -15
zShiftEnd         15
crossAngleStart  -50
crossAngleEnd     50
xShiftStart        6
xShiftEnd         11