#Configuration file for seqDesign.cpp

#Parameter Files
topFile                   /exports/home/gloiseau/mslib/trunk_AS/myProgs/seqDesign/parameterFiles/top_all22_prot.inp 
parFile                   /exports/home/gloiseau/mslib/trunk_AS/myProgs/seqDesign/parameterFiles/par_all22_prot.inp  
solvFile                  /exports/home/gloiseau/mslib/trunk_AS/myProgs/seqDesign/parameterFiles/solvpar22.inp
rotLibFile                /exports/home/gloiseau/mslib/trunk_AS/myProgs/seqDesign/parameterFiles/rotlib_combined_-60_-40.txt
hbondFile                 /exports/home/gloiseau/mslib/trunk_AS/myProgs/seqDesign/parameterFiles/par_hbond_CA_2.txt
pdbOutputDir              /exports/home/gloiseau/mslib/trunk_AS/myProgs/seqDesign/parameterFiles/vdwSequenceDesign/sequenceDesign
backboneCrd               /exports/home/gloiseau/mslib/trunk_AS/myProgs/seqDesign/parameterFiles/69-gly-residue-helix.crd 
infile                    /exports/home/gloiseau/mslib/trunk_AS/myProgs/seqDesign/parameterFiles/69-gly-residue-helix.pdb
geometryDensityFile       /exports/home/gloiseau/mslib/trunk_AS/myProgs/seqDesign/parameterFiles/2021_10_11_geometryDensityFile.txt
selfEnergyFileSPM         /exports/home/gloiseau/mslib/trunk_AS/myProgs/seqDesign/parameterFiles/2021_08_30_selfBaselineLILI.txt
pairEnergyFileSPM         /exports/home/gloiseau/mslib/trunk_AS/myProgs/seqDesign/parameterFiles/2021_08_30_pairBaselineLILI.txt
selfEnergyFile            /exports/home/gloiseau/mslib/trunk_AS/myProgs/seqDesign/parameterFiles/2021_11_22_IMM1SelfBaseline.txt
pairEnergyFile            /exports/home/gloiseau/mslib/trunk_AS/myProgs/seqDesign/parameterFiles/2021_11_22_IMM1PairBaseline.txt
seqEntropyFile            /exports/home/gloiseau/mslib/trunk_AS/myProgs/seqDesign/parameterFiles/2021_11_21_seqEntropies.txt
AACompositionPenaltyFile  /exports/home/gloiseau/mslib/trunk_AS/myProgs/seqDesign/parameterFiles/AACompositionPenalties.out

#Transformation Parameters (different from other files; changed to one of Samantha's because I moved the datafile to the data directory but am keeping this local for now)
xShift           9.2
zShift           4.0
axialRotation    40
crossingAngle    25.0
transform        true
thread           25
getGeoFromPDBData true

#weights
weight_seqEntropy 1

#Sequence Parameters (keep these consistent between runs; changes the threading)
backboneAA      V
backboneLength  21
linkInterfacialPositions false
useSasa true

#MC Parameters
MCCycles         5000
MCMaxRejects       50
MCStartTemp      5000
MCEndTemp         0.5
MCCurve             3
seed                1
greedyCycles       10

#Number of Rotamers
SL          95.00
SLInterface 95.00

#SelfPairManager parameters
runDEESingles  false
runDEEPairs    false
runSCMF        true
verbose        false

useAlaAtCTerminus  false
useBaseline        true

#AAIdentities
#Ids GLY ALA SER VAL CYS ILE MET THR TRP TYR PHE
Ids ALA SER VAL ILE THR TRP TYR PHE GLY

#Options for MC After SPM
runMCAfterSPM           true
energyLandscape         true
numStatesToSave           10

#Load Rotamers based on SASA Scores
#sasaRepackLevel     SL95.00     
#sasaRepackLevel     SL95.00
#sasaRepackLevel     SL85.00
#sasaRepackLevel     SL60.00
sasaRepackLevel     SL60.00     
sasaRepackLevel     SL60.00
sasaRepackLevel     SL60.00
sasaRepackLevel     SL60.00
interfaceLevel  2  

#Energy Terms To Output (additional energy terms need to be implemented to the code: The line above each group is what is currently implemented)
#TODO: make it so that adding or not adding all of these in doesn't break the code
#Monomer Terms
monomerEnergyTerms Monomer VDWMonomer HbondMonomer  
#Dimer Terms
dimerEnergyTerms Dimer HbondDimer VDWDimer IMM1Dimer
#Dimer Terms
calcEnergyOfSequenceTerms EnergyBeforeLocalMC
#sequenceMC Terms
sequenceMCEnergyTerms Monomer VDWMonomer HbondMonomer  EnergyBeforeLocalMC
#Energy Landscape Sequence MC Terms
energyLandscapeTerms EnergyBeforeLocalMC Dimer Baseline VDWDimer HBONDDimer EnergyBeforeLocalMCw/seqEntropy
#All Energies to output in order for output file: Make sure these all match up with the ones from the previous
energyTermsToOutput Total Dimer Monomer VDWDimer VDWMonomer VDWDiff HBONDDimer HBONDMonomer HBONDDiff IMM1Monomer IMM1Dimer IMM1Diff Baseline Baseline-Monomer MonomerSasa DimerSasa InterfaceSasa SequenceProbability SequenceNumber

energyTermList CHARMM_VDW SCWRL4_HBOND CHARMM_IMM1 CHARMM_IMM1REF
