chainSeq RASGVISFALAVGVGAKVAFLILIN RASGVISFALAVGVGAKVAFLILIN
chainStartNum 1 1
numChains 2
deleteTerminalHbonds true
rotLevel SL60.00
#chainRotLevels SL70.00 SL80.00 SL70.00 SL70.00 SL90.00 SL80.00 SL70.00 SL70.00 SL80.00 SL70.00 SL70.00 SL80.00 SL80.00 SL80.00 SL80.00 SL99.00 SL90.00 SL90.00 SL80.00 SL90.00 SL80.00 SL70.00 SL70.00 SL70.00

#Outputs
outputDir /exports/home/gloiseau/dockTest 
outputName test
printIntermediatePdbs true # records and prints out the pdbs from the run and not just the final pdb
verbose false # if true will record more information from the run into a log file

# input files
topFile                   /data07/sanderson/CATM/topparsolvhbond/top_all22_prot.inp 
parFile                   /data07/sanderson/CATM/topparsolvhbond/par_all22_prot.inp  
rotLibFile                /data07/sanderson/CATM/rotlib/rotlib_combined_-60,-40.txt
hbondFile                 /data01/sabs/tmRepacks/charmm/par_hbond_CA_2.txt
bbqFile                   /exports/home/gloiseau/mslib/trunk_AS/tables/PiscesBBQTable.txt

#Parameters to change for different types of docking runs
limitCross true # limits the size of the crossing angle
limitCrossValue 70 # value limiting the size of crossing angle (for a value of 60 will only accept crossing angles between -60 and 60)
xShiftFirst true # docks the helices from the initial xShift starting location
numReplicates 5 # number of docking simulations to run from the initial given coordinates

#Starting Location
xShift 11

#Step Size Parameters
axialRot_step        2.5
zShift_step          1.0
crossingAngle_step   0.5
xShift_step          0.1

#MC Parameters
startT 2500
endT 1
mcCycles 10000
mcShape SIGMOIDAL
mcMaxRejects 1
convergedSteps 250
convergedE 0.01
probRepack 0.05
paramAdjustment 0.5
shiftRotCenter true
numParamMoves 1
numTrajectoryModels 100

#Weight parameters
vdwRadius 1
weight_vdw 1
weight_hbond 1