#Configuration file for calcEnergyOrMutatePdb.cpp

#Parameter Files
helicalAxis               /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/helicalAxis.pdb
backboneFile              /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/69-gly-residue-helix.pdb
topFile                   /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/top_all22_prot.inp 
parFile                   /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/par_all22_prot.inp  
solvFile                  /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/solvpar22.inp
rotLibFile                /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/rotlib_combined_-60_-40.txt
terminiRotLibFile         /mnt/d/github/mslib/trunk_AS/library/EBL_11-2011_CHARMM22.txt
pdbFile                   /mnt/d/github/mslib/trunk_AS/design_1/1_0.pdb
outputDir                 test_rosetta_home