#Configuration File for helixGenerator

#Parameter Files
helixGeoFile    /data03/CATM/files/CENTROIDS_0.5_cutoff-6_byHbond
#helixGeoFile    /data07/sanderson/CATM/files/CENTROIDS_0.5_cutoff-6_byHbond
topFile         /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/toppar_HSZ/top_all22_prot.inp
parFile         /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/toppar_HSZ/par_all22_prot.inp
solvFile        /data03/CATM/topparsolvhbond/solvpar22.inp
#topFile         /data07/sanderson/CATM/topparsolvhbond/top_all22_prot.inp 
#parFile         /data07/sanderson/CATM/topparsolvhbond/par_all22_prot.inp  
rotLibFile      /data07/sanderson/CATM/rotlib/rotlib_combined_-60,-40.txt
backboneCrd     /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.crd 
hbondFile       /data01/sabs/tmRepacks/charmm/par_hbond_CA_2.txt
#hbondFile       /data07/sanderson/CATM/topparsolvhbond/par_hbond_CA.inp
pdbOutputDir    /data02/gloiseau/Sequence_Design_Project/Baseline_Generator/SelfPairData
rulesFile       /data07/sanderson/CATM/files/TMRULES_byHbond.txt
infile          /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.pdb
#infile          /exports/home/gloiseau/Generated_PDBs/helixGen.pdb#

#Threading Parameters
threadStart   1
threadEnd     1
threadBool  false

#Transformation Parameters
xShift           6.5943
zShift           1.52171
axialRotation   -58.8094
crossingAngle   -48.1435
transform        true
#the center is around 31, so total to thread around is really 62 to get to center, so with 31 bblength, 31/2 approximately 16 to thread start

#Sequence Parameters
#sequence   LLLLLLLLLLLLLLLLLLLLLLLL
backboneAA       G
backboneLength  21
sequence         G
seqNumber      1000
runNumber        0
#pairDist        10

#MC Parameters
mcCycles       1
mcMaxRejects  10
seed           1

#Weight Parameters
weight_vdw     1
weight_hbond   1
weight_solv    0

#Number of Rotamers
SL        95.00

#Chain Start and End points for search space
start      3
end       36

#Energy for optimizedRotamers method
ener     100

#writing Parameters
#angles    3
#wipe
#maybe at some point? but for now I think the parameters are good fixed (wiped also changes depending on number of atoms, so if you forget to change it, could just lead to no results      

#Ids (as one letter) and weights (older)
#ids         L   I   V   A   F   G   S   T   M   Y   P   W   C   N   Q   H   D   E   K   R
#weights     19  12  11  10  9   7   6   5   4   3   3   2   2   1   1   1   1   1   1   1
#weights     22  12  11  10  9   7   6   5   4   3   2   2   1   1   1   1   1   1   1

##Ids and weigths I've been using
#ids         L   I   V   A   F   G   S   T   M   Y   W   C   N   Q   H   D   E   K   R
#weights     16  11  11  13  8   9   5   6   4   3   3   1   1   1   2   1   1   1   1

#Ids and weigths for nonbiased seq
ids         L   I   V   A   F   G   S   T   Y   W  
weights     20  13  10  11  10  10  9   9   4   4


