#Configuration File for generateBaselineIMM1

#Parameter Files
backboneCrd     /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/69-gly-residue-helix.crd
infile          /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/69-gly-residue-helix.pdb
topFile         /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/top_all22_prot.inp 
parFile         /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/par_all22_prot.inp
hbondFile       /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/par_hbond_CA_2.txt
rotLibFile      /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/rotlib_combined_-60_-40.txt
helixGeoFile    /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/CENTROIDS_0.5_cutoff-6_byHbond 
rulesFile       /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/TMRULES_byHbond.txt
solvFile        /exports/home/gloiseau/mslib/trunk_AS/myProgs/baselineBuilder/parameterFiles/solvpar22.inp
pdbOutputDir    /data02/gloiseau/Sequence_Design_Project/Baseline_Generator/SelfPairData

#Threading Parameters
threadStart   1
threadEnd     1
threadBool  false

#Transformation Parameters
xShift           6.5943
zShift           1.52171
axialRotation   -58.8094
crossingAngle   -48.1435
transform        true
#the center is around 31, so total to thread around is really 62 to get to center, so with 31 bblength, 31/2 approximately 16 to thread start

#Sequence Parameters
#sequence   LLLLLLLLLLLLLLLLLLLLLLLL
backboneAA       G
backboneLength  30 #Samantha added in the RAS, so adds 3 extra when extended
sequence         G
seqNumber      1000
runNumber        0
pairDist        10

#MC Parameters
mcCycles       1
mcMaxRejects  10
seed           1

#Weight Parameters
weight_vdw     1
weight_hbond   1
weight_solv    0

#Number of Rotamers
SL        95.00

#Chain Start and End points for search space
start      3
end       36

#Energy for optimizedRotamers method
ener     100

#writing Parameters
#angles    3
#wipe
#maybe at some point? but for now I think the parameters are good fixed (wiped also changes depending on number of atoms, so if you forget to change it, could just lead to no results      

#Ids (as one letter) and weights (older)
#ids         L   I   V   A   F   G   S   T   M   Y   P   W   C   N   Q   H   D   E   K   R
#weights     19  12  11  10  9   7   6   5   4   3   3   2   2   1   1   1   1   1   1   1
#weights     22  12  11  10  9   7   6   5   4   3   2   2   1   1   1   1   1   1   1

#Ids and weigths I've been using
ids         L   I   V   A   F   G   S   T   Y   W   
weights     20  13  10  11  10  10  9   9   4   4  



