#Input Files
angleDistKdeFile      /exports/home/gloiseau/mslib/trunk_AS/designFiles/2021_09_25_angleDistKde.txt  
zShiftKdeFile         /exports/home/gloiseau/mslib/trunk_AS/designFiles/2021_10_11_zShiftKde.txt  
axialRotationKdeFile  /exports/home/gloiseau/mslib/trunk_AS/designFiles/2021_10_11_axialRotationKde.txt

#Output Directory
outputDir             /exports/home/gloiseau/mslib/trunk_AS/designFiles

#Bin Sizes
angleBinSize           5.128205
xShiftBinSize          0.26087
zShiftBinSize          0.26087
axialRotationBinSize   2.564103

#Density Limits
#angleDistDensityLimit    0.2

#Number of Geometries
numberOfGeometries     1000000

#Booleans
verbose                true
useTimeBasedSeed       true
