#Configuration file for a typical run
#To compile and run, from trunk:
#   -make bin/backboneOptimizer
#   -bin/backboneOptimizer --config config/backboneOptimizer.config
# This particular protein example runs ~in 15 minutes
helicalAxis               /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/helicalAxis.pdb
topFile                   /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/top_all22_prot.inp
parFile                   /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/par_all22_prot.inp
hbondFile                 /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/par_hbond_CA.inp
rotLibFile                /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/rotlib_combined_-60_-40.txt
helixGeoFile              /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/CENTROIDS_0.5_cutoff-6_byHbond
solvFile                  /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/solvpar22.inp
inputPdbFile              /exports/home/gloiseau/mslib/trunk_AS/design_1/BackboneOptimize_0.pdb

#
greedyCycles 3
seed 0
verbose false

#Geometry Parameters
xShift           7.5
zShift           3
axialRotation    61
crossingAngle    51
thread           23
numRepacks 2

interface 000110011001100110000
useAlaAtTermini    true

# AAIdentities
Ids LEU ALA SER VAL ILE THR TRP TYR PHE 

SL 60.00
