deleteTerminalHbonds true
rotLevel SL80.00

#MC Parameters
startT 2500
endT 1
mcCycles 5000
mcShape EXPONENTIAL
mcMaxRejects 1
convergedSteps 250
convergedE 0.01
probRepack 0.05
paramAdjustment 0.5
shiftRotCenter true
numParamMoves 1

#Step Size Parameters
axialRot_step        2.5
zShift_step          1.0
crossingAngle_step   0.5
xShift_step          0.1
#bundleRot_step       0.0
#bundleZ_step         0.0

numTrajectoryModels 100

outputDir /data02/gloiseau/Docking
#output modelCoiledCoils.out


#Weight parameters
vdwRadius 1
weight_vdw 1
weight_hbond 1

#Restraints Parameters
defaultRestraintDist 3.0
defaultRestraintWeight 50.0
defaultRestraintSlope 0.5
defaultRestraintIntercept -2.5

#Restrains
restraints A,191,CA B,191,CA
restraints A,194,CA B,194,CA
restraints A,198,CA B,198,CA

#TMD
#ID A6NL88
chainSeq RASGVISFALAVGVGAKVAFLILIN
numChains 2
chainStartNum 188
#chainRotLevels SL70.00 SL80.00 SL70.00 SL70.00 SL90.00 SL80.00 SL70.00 SL70.00 SL80.00 SL70.00 SL70.00 SL80.00 SL80.00 SL80.00 SL80.00 SL99.00 SL90.00 SL90.00 SL80.00 SL90.00 SL80.00 SL70.00 SL70.00 SL70.00


#Starting Location
axialRot -39.7322465772946
zShift -7.75296109224286
crossingAngle -40.95233721277815
xShift 4.4493198866736
#bundleRot 0.0849182575732051
#bundleZ -2.77725553335048
