#Parameter Files
#topFile                   /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/toppar_HSZ/top_all22_prot.inp
#parFile                   /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/toppar_HSZ/par_all22_prot.inp
#rotLibFile                /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/EBL_11-2011_CHARMM22_Zinc.txt
#selfEnergyFile            /exports/home/gloiseau/mslib/trunk_AS/DesignFiles/2020_10_07_meanSelf_par.txt
#pairEnergyFile            /exports/home/gloiseau/mslib/trunk_AS/DesignFiles/2020_10_07_meanPair_par.txt
#hbondFile                 /data07/sanderson/CATM/topparsolvhbond/par_hbond_CA.inp
#Leaving the original file paths instead of moving to my designFiles dir so I remember where I got them from
backboneCrd               /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.crd 
topFile                   /data07/sanderson/CATM/topparsolvhbond/top_all22_prot.inp 
parFile                   /data07/sanderson/CATM/topparsolvhbond/par_all22_prot.inp  
solvFile                  /data03/CATM/topparsolvhbond/solvpar22.inp
rotLibFile                /data07/sanderson/CATM/rotlib/rotlib_combined_-60,-40.txt
hbondFile                 /data01/sabs/tmRepacks/charmm/par_hbond_CA_2.txt
#hbondFile                 /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/par_hbond_CA.inp
pdbOutputDir              /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign
infile                    /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.pdb
helicalAxis               /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/helicalAxis.pdb
backboneFile              /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/69-gly-residue-helix.pdb
terminiRotLibFile         /exports/home/gloiseau/mslib/trunk_AS/library/EBL_11-2011_CHARMM22.txt
geometryDensityFile       /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_10_11_geometryDensityFile.txt
selfEnergyFileSPM         /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_08_30_selfBaselineLILI.txt
pairEnergyFileSPM         /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_08_30_pairBaselineLILI.txt
selfEnergyFile            /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_11_22_IMM1SelfBaseline.txt
pairEnergyFile            /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_11_22_IMM1PairBaseline.txt
seqEntropyFile            /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_12_05_seqEntropies.txt

# Transformation Parameters (different from other files; changed to one of Samantha's because I moved the datafile to the data directory but am keeping this local for now)
xShift           9.2
zShift           4.0
axialRotation    40
crossingAngle    25.0
thread           23
getGeoFromPDBData false

# weights
weight_seqEntropy 1

# Sequence Parameters (keep these consistent between runs; changes the threading)
backboneAA      A
backboneLength  21
linkInterfacialPositions true 
useSasa true

# SequenceMC Parameters
MCCycles            1 
MCMaxRejects        5
MCStartTemp      1000
MCEndTemp         0.5
MCCurve             3
seed                1

# BackboneMC Parameters
backboneMCCycles           10
backboneMCMaxRejects        5
backboneMCStartTemp       100
backboneMCEndTemp         0.5
backboneMCCurve             3
deltaZ         1
deltaAx        5.0
deltaCross     5.0
deltaX         1

# Number of Rotamers
#SL          97.00
SL          97.00
SLInterface 95.00

# SelfPairManager parameters
runDEESingles  false
runDEEPairs    false
runSCMF        true
verbose        false
greedyCycles        3

useAlaAtTermini    true
useBaseline        true

# AAIdentities
Ids LEU ALA SER VAL ILE THR TRP TYR PHE 

# Load Rotamers based on SASA Scores
sasaRepackLevel     SL70.00     
sasaRepackLevel     SL70.00
sasaRepackLevel     SL70.00
sasaRepackLevel     SL60.00
#sasaRepackLevel     SL95.00     
#sasaRepackLevel     SL95.00
#sasaRepackLevel     SL85.00
#sasaRepackLevel     SL60.00
interfaceLevel  2  

energyTermList CHARMM_VDW SCWRL4_HBOND CHARMM_IMM1 CHARMM_IMM1REF