#Input Files
topFile            /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021//data07/sanderson/CATM/topparsolvhbond/top_all22_prot.inp
parFile            /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021//data07/sanderson/CATM/topparsolvhbond/par_all22_prot.inp
solvFile           /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021//data03/CATM/topparsolvhbond/solvpar22.inp
hbondFile          /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021//data01/sabs/tmRepacks/charmm/par_hbond_CA_2.txt
rotLibFile         /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021//data07/sanderson/CATM/rotlib/rotlib_combined_-60,-40.txt
designPdb          /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021/design_1/LLLASLWLLLGGLLFLLLILI/LLLASLWLLLGGLLFLLLILI.pdb
designCrd          /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021/design_1/LLLASLWLLLGGLLFLLLILI/LLLASLWLLLGGLLFLLLILI.crd
outputDir          /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021/design_1/LLLASLWLLLGGLLFLLLILI

#Geometry
xShift             9.2
crossingAngle      25
axialRotation      40
zShift             4
thread             25
tmStart            1
tmEnd              1

#Design Parameters
sequence              LLLASLWLLLGGLLFLLLILI
rotamerSamplingString 033012103201210230231
seed               1

#Rotamer Sampling Vector
rotamerSampling           0 3 3 0 1 2 1 0 3 2 0 1 2 1 0 2 3 0 2 3 1 0 3 3 0 1 2 1 0 3 2 0 1 2 1 0 2 3 0 2 3 1

#SASA Rotamers
sasaRepackLevel  SL60.00
sasaRepackLevel  SL60.00
sasaRepackLevel  SL60.00
sasaRepackLevel  SL60.00

#Weights
weight_vdw         1
weight_hbond       1
weight_solv        1

#Monomer Energies
monomer            -376.239
monoVdw            -25.1098
monoHbond          -76.7269
monoIMM1           -274.402

#Dimer Energies
dimer            -329.156
dimerVdw         -21.0509
dimerHbond       -72.7294
dimerIMM1        -235.375

#Total Energy
Total            47.0832
