#Parameter Files
helixGeoFile    /data03/CATM/files/CENTROIDS_0.5_cutoff-6_byHbond
topFile         /data07/sanderson/CATM/topparsolvhbond/top_all22_prot.inp 
parFile         /data07/sanderson/CATM/topparsolvhbond/par_all22_prot.inp  
solvFile        /data03/CATM/topparsolvhbond/solvpar22.inp
rotLibFile      /data07/sanderson/CATM/rotlib/rotlib_combined_-60,-40.txt
backboneCrd     /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.crd 
hbondFile       /data01/sabs/tmRepacks/charmm/par_hbond_CA_2.txt
pdbOutputDir    /data02/gloiseau/Sequence_Design_Project/Baseline_Generator/SelfPairData
rulesFile       /data07/sanderson/CATM/files/TMRULES_byHbond.txt
infile          /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.pdb

#Sequence Parameters
backboneAA       G
backboneLength  21
seqNumber      100
pairDist        10

#MC Parameters
seed           1

#Weight Parameters
weight_vdw     1
weight_hbond   1

#Number of Rotamers
SL        95.00

#Ids and weigths for nonbiased seq
ids         L   I   V   A   F   G   S   T   M   Y   W   C  
weights     5   5   5   5   5   5   5   5   5   5   5   5
