#Configuration File for geomSeqImager

#Parameter Files
#topFile                   /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/toppar_HSZ/top_all22_prot.inp
#parFile                   /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/toppar_HSZ/par_all22_prot.inp
topFile                   /data07/sanderson/CATM/topparsolvhbond/top_all22_prot.inp 
parFile                   /data07/sanderson/CATM/topparsolvhbond/par_all22_prot.inp  
baselineFile              /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/par_selfBaseline.txt
geometryDensityFile       /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/2021_05_27_80cutoff_kde.txt
solvFile                  /data03/CATM/topparsolvhbond/solvpar22.inp
#rotLibFile                /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/EBL_11-2011_CHARMM22_Zinc.txt
rotLibFile                /data07/sanderson/CATM/rotlib/rotlib_combined_-60,-40.txt
backboneCrd               /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.crd 
hbondFile                 /data01/sabs/tmRepacks/charmm/par_hbond_CA_2.txt
#hbondFile                 /data07/sanderson/CATM/topparsolvhbond/par_hbond_CA.inp
pdbOutputDir              /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign
rulesFile                 /data07/sanderson/CATM/files/TMRULES_byHbond.txt
infile                    /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.pdb
kdeFile                   /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/kde.txt
selfEnergyFile            /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/2020_10_07_meanSelf_par.txt
pairEnergyFile            /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/2020_10_07_meanPair_par.txt
seqEntropyFile            /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/seqEntropies.txt
AACompositionPenaltyFile  /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/AACompositionPenalties.out

#Threading Parameters
threadStart   1
threadEnd     1
threadBool  false

#Transformation Parameters (different from other files; changed to one of Samantha's because I moved the datafile to the data directory but am keeping this local for now)
xShift           9.2
zShift           4.0
axialRotation    40
crossingAngle    47.0
transform        true
thread           25
useGeoFromPDBData true

#weights
weight_seqEntropy 0.25

#Sequence Parameters (keep these consistent between runs; changes the threading)
backboneLength  21
sequence   LLLLLLLLLLLLLLLLLLLLL

#MC Parameters
MCCycles       10000
MCMaxRejects      50
MCStartTemp    50000
MCEndTemp      0.5
MCCurve          4
seed             1
pairDist        10
greedyCycles     3
runSequenceMC false

#Number of Rotamers
SL          85.00
SLInterface 95.00

#Chain Start and End points for search space
start      3
end       36

#SelfPairManager parameters
runDEESingles  false
runDEEPairs    false
runSCMF        true
verbose        true

#AAIdentities
#Ids GLY ALA SER VAL CYS ILE MET THR TRP TYR PHE
Ids ALA SER VAL ILE THR TRP TYR PHE
#Ids MET SER CYS TYR PHE

#Options for MC After SPM
runMCAfterSPM true
runLocalMC false
energyLandscape true
numberEnergyVectors 5
numStatesToSave 5
energyLimit -55
energyDifference 10

#Energy Terms To Output (additional energy terms need to be implemented to the code: The line above each group is what is currently implemented)
#Monomer Terms
#TODO: make it so that adding or not adding all of these in doesn't break the code
monomerEnergyTerms Monomer VDWMonomer HbondMonomer MonomerSelfBaseline MonomerPairBaseline
#Monomer IMM1 Terms
monomerIMM1EnergyTerms Monomerw/IMM1 VDWMonomerw/IMM1 HbondMonomerw/IMM1 IMM1Monomer 
#Dimer Terms
dimerEnergyTerms Dimer HbondDimer VDWDimer IMM1Dimer
#Dimer Terms
calcEnergyOfSequenceTerms Baseline DimerSelfBaseline DimerPairBaseline EnergyBeforeLocalMC
#sequenceMC Terms
sequenceMCEnergyTerms Monomer VDWMonomer HbondMonomer MonomerSelfBaseline MonomerPairBaseline DimerSelfBaseline DimerPairBaseline EnergyBeforeLocalMC Baseline
#Energy Landscape Sequence MC Terms
#enerLandscapeTerms EnergyBeforeLocalMC DimerNoIMM1 MonomerNoIMM1 Baseline VDWDimerNoIMM1 VDWMonomerNoIMM1 HBONDDimerNoIMM1 HBONDMonomerNoIMM1 EnergyBeforeLocalMCw/seqEntropy
enerLandscapeTerms EnergyBeforeLocalMC DimerNoIMM1 Baseline VDWDimerNoIMM1 HBONDDimerNoIMM1 EnergyBeforeLocalMCw/seqEntropy
#All Energies to output in order for output file: Make sure these all match up with the ones from the previous
energyTermsToOutput Total Dimer Monomer VDWDimer VDWMonomer VDWDiff HBONDDimer HBONDMonomer HBONDDiff IMM1Monomer IMM1Dimer IMM1Diff MonomerNoIMM1 DimerNoIMM1 Baseline Baseline-Monomer VDWDimerNoIMM1 VDWMonomerNoIMM1 HBONDDimerNoIMM1 HBONDMonomerNoIMM1 DimerSelfBaseline DimerPairBaseline  

energyTermList CHARMM_VDW SCWRL4_HBOND CHARMM_IMM1 CHARMM_IMM1REF
