#Configuration File for geomSeqImager

#Parameter Files
helixGeoFile    /data03/CATM/files/CENTROIDS_0.5_cutoff-6_byHbond
#helixGeoFile    /data07/sanderson/CATM/files/CENTROIDS_0.5_cutoff-6_byHbond
topFile         /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/toppar_HSZ/top_all22_prot.inp
parFile         /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/toppar_HSZ/par_all22_prot.inp
baselineFile    /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/par_selfBaseline.txt
solvFile        /data03/CATM/topparsolvhbond/solvpar22.inp
#topFile         /data07/sanderson/CATM/topparsolvhbond/top_all22_prot.inp 
#parFile         /data07/sanderson/CATM/topparsolvhbond/par_all22_prot.inp  
rotLibFile      /exports/home/gloiseau/mslib/trunk_AS/myProgs/gloiseau/EBL_11-2011_CHARMM22_Zinc.txt
#rotLibFile      /data07/sanderson/CATM/rotlib/rotlib_combined_-60,-40.txt
backboneCrd     /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.crd 
hbondFile       /data01/sabs/tmRepacks/charmm/par_hbond_CA_2.txt
#hbondFile       /data07/sanderson/CATM/topparsolvhbond/par_hbond_CA.inp
#pdbOutputDir    /exports/home/gloiseau/Generated_PDBs/geomSeqImager
pdbOutputDir    /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign
rulesFile       /data07/sanderson/CATM/files/TMRULES_byHbond.txt
infile          /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.pdb

#Threading Parameters
threadStart   1
threadEnd     1
threadBool  false

#Transformation Parameters (different from other files; changed to one of Samantha's because I moved the datafile to the data directory but am keeping this local for now)
xShift           9.2
zShift           4.0
axialRotation    40
crossingAngle    47.0
leftHanded       true
transform        true
thread           25

#weights
weight_seqEntropy 10

#Sequence Parameters (keep these consistent between runs; changes the threading)
backboneLength  21
sequence   LLLLLLLLLLLLLLLLLLLLL

#MC Parameters
MCCycles       100
MCMaxRejects    10
MCStartTemp   1000
MCEndTemp      0.5
seed             1
pairDist        10

#Number of Rotamers
SL        80.00

#Chain Start and End points for search space
start      3
end       36

#SelfPairManager parameters
runDEESingles  false
runDEEPairs    false
runSCMF        true
verbose        true

#AAIdentities
Ids GLY ALA SER VAL CYS ILE MET TRP TYR PHE
#Ids MET SER CYS TYR PHE
varPos 0 0 1 1 0 0 1 1 0 0 1 1 0 0 1 1 0 0 #use 1 to denote positions that have multiple IDs
numPositions  9 

#Options for MC After SPM
runMCAfterSPM true
extraAAs TYR PHE 
