########################################################
#  Options from command line arguments:
#
#  NOTE: command line options take priority over the
#        ones entered with the configuration file.
########################################################
configfile                    config/calcPdbEnergy.config
pdbFile                       G1_output_2.pdb
thread                        1
greedyCycles                  3

########################################################
#  Options from configuration file :
########################################################
thread                        25
helicalAxis                   /home/loiseau@ad.wisc.edu/github/mslib/trunk_AS/inputFiles/helicalAxis.pdb
backboneFile                  /home/loiseau@ad.wisc.edu/github/mslib/trunk_AS/inputFiles/69-gly-residue-helix.pdb
topFile                       /home/loiseau@ad.wisc.edu/github/mslib/trunk_AS/inputFiles/top_all22_prot.inp
parFile                       /home/loiseau@ad.wisc.edu/github/mslib/trunk_AS/inputFiles/par_all22_prot.inp
solvFile                      /home/loiseau@ad.wisc.edu/github/mslib/trunk_AS/inputFiles/solvpar22.inp
rotLibFile                    /home/loiseau@ad.wisc.edu/github/mslib/trunk_AS/inputFiles/rotlib_combined_-60_-40.txt
backboneCrd                   /home/loiseau@ad.wisc.edu/github/mslib/trunk_AS/inputFiles/69-gly-residue-helix.crd
hbondFile                     /home/loiseau@ad.wisc.edu/github/mslib/trunk_AS/inputFiles/par_hbond_CA_2.txt
infile                        /home/loiseau@ad.wisc.edu/github/mslib/trunk_AS/inputFiles/69-gly-residue-helix.pdb
terminiRotLibFile             /home/loiseau@ad.wisc.edu/github/mslib/trunk_AS/library/EBL_11-2011_CHARMM22.txt
outputDir                     test_rosetta
sequence                      AAAAALLGFLVGLLTTLLAAA
xShift                        7.858
zShift                        6.70496
axialRotation                 109.109
crossingAngle                 -39.7445
interface                     000110011001100110000
MCCycles                      100
MCCycles                      100
MCMaxRejects                  5
MCMaxRejects                  5
MCStartTemp                   1000
MCStartTemp                   1000
MCEndTemp                     0.5
MCEndTemp                     0.5
MCCurve                       3
MCCurve                       3
seed                          1
seed                          1
backboneMCCycles              1
backboneMCMaxRejects          5
backboneMCStartTemp           100
backboneMCEndTemp             0.5
backboneMCCurve               3
deltaZ                        1
deltaAx                       5.0
deltaCross                    5.0
deltaX                        1
backboneRepackCycles          1
SL                            97.00
sasaRepackLevel               SL97.00
sasaRepackLevel               SL97.00
sasaRepackLevel               SL85.00
sasaRepackLevel               SL60.00
alternateIds                  LEU ALA SER VAL ILE THR TRP TYR PHE
energyTermList                CHARMM_VDW SCWRL4_HBOND CHARMM_IMM1 CHARMM_IMM1REF

