########################################################
#  Options from command line arguments:
#
#  NOTE: command line options take priority over the
#        ones entered with the configuration file.
########################################################
configfile                    config/calcPdbEnergy.config
pdbFile                       /home/loiseau@ad.wisc.edu/github/Sequence-Design/extractRosettaPdbsForCalcEnergy/gblock_rosetta_rerun/gblock_rosetta_rerun_pdbs_edited/G1_output_0.pdb

########################################################
#  Options from configuration file :
########################################################
pdbFile                       /data02/gloiseau/Sequence_Design_Project/CHIP1_DesignData/12_06_2021_CHIP1_Dataset/design_678/LLLAALLGFLVGLLTTLLILI/LLLAALLGFLVGLLTTLLILI.pdb
backboneCrd                   /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.crd
topFile                       /data07/sanderson/CATM/topparsolvhbond/top_all22_prot.inp
parFile                       /data07/sanderson/CATM/topparsolvhbond/par_all22_prot.inp
solvFile                      /data03/CATM/topparsolvhbond/solvpar22.inp
rotLibFile                    /data07/sanderson/CATM/rotlib/rotlib_combined_-60,-40.txt
hbondFile                     /data01/sabs/tmRepacks/charmm/par_hbond_CA_2.txt
pdbOutputDir                  /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign
infile                        /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.pdb
helicalAxis                   /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/helicalAxis.pdb
backboneFile                  /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/69-gly-residue-helix.pdb
terminiRotLibFile             /exports/home/gloiseau/mslib/trunk_AS/library/EBL_11-2011_CHARMM22.txt
outputDir                     test_rosetta_home
sequence                      AAAAALLGFLVGLLTTLLAAA
xShift                        7.858
zShift                        6.70496
axialRotation                 109.109
crossingAngle                 -39.7445
thread                        25
interface                     000110011001100110000
MCCycles                      100
MCCycles                      100
MCMaxRejects                  5
MCMaxRejects                  5
MCStartTemp                   1000
MCStartTemp                   1000
MCEndTemp                     0.5
MCEndTemp                     0.5
MCCurve                       3
MCCurve                       3
seed                          1
seed                          1
backboneMCCycles              1
backboneMCMaxRejects          5
backboneMCStartTemp           100
backboneMCEndTemp             0.5
backboneMCCurve               3
deltaZ                        1
deltaAx                       5.0
deltaCross                    5.0
deltaX                        1
backboneRepackCycles          1
SL                            97.00
sasaRepackLevel               SL97.00
sasaRepackLevel               SL97.00
sasaRepackLevel               SL85.00
sasaRepackLevel               SL60.00
alternateIds                  LEU ALA SER VAL ILE THR TRP TYR PHE
energyTermList                CHARMM_VDW SCWRL4_HBOND CHARMM_IMM1 CHARMM_IMM1REF

