########################################################
#  Options from command line arguments:
#
#  NOTE: command line options take priority over the
#        ones entered with the configuration file.
########################################################
configfile                    config/backboneOptimizer_v2.config
sequence                      LLLLFLLVTLAFILTILLILI
xShift                        10.0284
crossingAngle                 36.3585
axialRotation                 96.3875
zShift                        1.96653
negAngle                      FALSE
negRot                        FALSE

########################################################
#  Options from configuration file :
########################################################
xShift                        9.2
crossingAngle                 25.0
axialRotation                 40
zShift                        4.0
backboneFile                  /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/69-gly-residue-helix.pdb
topFile                       /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/top_all22_prot.inp
parFile                       /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/par_all22_prot.inp
hbondFile                     /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/par_hbond_CA.inp
rotLibFile                    /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/rotlib_combined_-60_-40.txt
helixGeoFile                  /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/CENTROIDS_0.5_cutoff-6_byHbond
solvFile                      /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/solvpar22.inp
outputDir                     /data02/gloiseau/Sequence_Design_Project/Design_Data/backboneOptimization
greedyCycles                  10
seed                          0
transform                     true
thread                        25
getGeoFromPDBData             true
vdWEnergyCutoff               -30
sasaRepackLevel               SL95.00
sasaRepackLevel               SL95.00
sasaRepackLevel               SL85.00
sasaRepackLevel               SL60.00
weight_vdw                    1.0
weight_hbond                  1.0
weight_solv                   1.0
ids                           ALA SER VAL ILE THR TRP TYR PHE GLY
verbose                       false
useElec                       true
useAlaAtCTerminus             true

