########################################################
#  Options from command line arguments:
#
#  NOTE: command line options take priority over the
#        ones entered with the configuration file.
########################################################
configfile                    /exports/home/gloiseau/mslib/trunk_AS/config/backboneOptimizer_v2.config
seed                          23
thread                        20
MCCycles                      100
MCMaxRejects                  5
MCStartTemp                   100
MCEndTemp                     0.5
MCCurve                       3
negAngle                      true
negRot                        true
sequence                      RASLLLLILLGVLLGVLLTILILI
xShift                        7.326
crossingAngle                 50.942
axialRotation                 93.276
zShift                        5.665
topFile                       /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/top_all22_prot.inp
solvFile                      /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/solvpar22.inp
parFile                       /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/par_all22_prot.inp
hbondFile                     /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/par_hbond_CA_2.txt
rotLibFile                    /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/rotlib_combined_-60_-40.txt
verbose                       true

########################################################
#  Options from configuration file :
########################################################
seed                          0
thread                        23
MCCycles                      100
MCMaxRejects                  2
MCStartTemp                   1000
MCEndTemp                     0.5
MCCurve                       2
sequence                      RASLLLGFLLGCLLGMLLGALILI
xShift                        7.5
crossingAngle                 -39
axialRotation                 40
zShift                        4.0
topFile                       /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/top_all22_prot.inp
solvFile                      /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/solvpar22.inp
parFile                       /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/par_all22_prot.inp
hbondFile                     /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/par_hbond_CA.inp
rotLibFile                    /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/rotlib_combined_-60_-40.txt
verbose                       false
backboneFile                  /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/69-gly-residue-helix.pdb
helicalAxis                   /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/helicalAxis.pdb
helixGeoFile                  /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/CENTROIDS_0.5_cutoff-6_byHbond
greedyCycles                  3
sasaRepackLevel               SL95.00
sasaRepackLevel               SL95.00
sasaRepackLevel               SL95.00
sasaRepackLevel               SL95.00
weight_vdw                    1.0
weight_hbond                  1.0
weight_solv                   1.0
weight_elec                   1.0
useElec                       false
useAlaAtCTerminus             false

