#Design Parameters
chainSeq              LLLGTLTTLLGTLTTLLLILI LLLGTLTTLLGTLTTLLLILI
rotamerSamplingString 033012103201210230231
chainStartNum        25
seed                 1

#Input Files
topFile              /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021//data07/sanderson/CATM/topparsolvhbond/top_all22_prot.inp
parFile              /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021//data07/sanderson/CATM/topparsolvhbond/par_all22_prot.inp
solvFile             /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021//data03/CATM/topparsolvhbond/solvpar22.inp
hbondFile            /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021//data01/sabs/tmRepacks/charmm/par_hbond_CA_2.txt
rotLibFile           /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021//data07/sanderson/CATM/rotlib/rotlib_combined_-60,-40.txt
bbqFile              /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021/PiscesBBQTable.txt
designPdb            /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021/design_1/LLLGTLTTLLGTLTTLLLILI/LLLGTLTTLLGTLTTLLLILI.pdb
outputDir            /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021/design_1/LLLGTLTTLLGTLTTLLLILI

#Geometry
xShift               9.2
crossingAngle        25
axialRotation        40
zShift               4

#Rotamer Sampling Vector
rotamerSampling      0 3 3 0 1 2 1 0 3 2 0 1 2 1 0 2 3 0 2 3 1

#Weights
weight_vdw           1
weight_hbond         1
weight_solv          1

#Monomer Energies
monomer              0
monoVdw              0
monoHbond            0
monoIMM1             0

#Dimer Energies
dimer                -579.293
dimerVdw             -34.4293
dimerHbond           -57.4675
dimerIMM1            -232.068

#Total Energy
Total            -579.293
