########################################################
#  Options from command line arguments:
#
#  NOTE: command line options take priority over the
#        ones entered with the configuration file.
########################################################
configfile                    config/seqDesign_example.config

########################################################
#  Options from configuration file :
########################################################
configfile                    seqDesign.config
runNumber                     test
density                       0.92
interface                     000110011001100110000
xShift                        7.3
crossingAngle                 38.4258
negAngle                      True
axialRotation                 83.9549
negRot                        True
zShift                        2.009
verbose                       true
verbose                       false
helicalAxis                   /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/helicalAxis.pdb
topFile                       /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/top_all22_prot.inp
parFile                       /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/par_all22_prot.inp
solvFile                      /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/solvpar22.inp
rotLibFile                    /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/rotlib_combined_-60_-40.txt
backboneCrd                   /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/69-gly-residue-helix.crd
hbondFile                     /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/par_hbond_CA_2.txt
infile                        /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/69-gly-residue-helix.pdb
backboneFile                  /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/69-gly-residue-helix.pdb
geometryDensityFile           /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_10_11_geometryDensityFile.txt
selfEnergyFile                /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_11_22_IMM1SelfBaseline.txt
pairEnergyFile                /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_11_22_IMM1PairBaseline.txt
seqEntropyFile                /mnt/d/github/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_12_05_seqEntropies.txt
thread                        23
getGeoFromPDBData             false
weight_seqEntropy             10
backboneAA                    L
backboneLength                21
linkInterfacialPositions      true
useAlaAtTermini               false
MCCycles                      500
MCMaxRejects                  5
MCStartTemp                   5000
MCEndTemp                     0.5
MCCurve                       3
MCResetTemp                   3649
MCResetCycles                 100
backboneSearchCycles          2
seed                          0
greedyCycles                  3
backboneMCCycles              200
backboneMCMaxRejects          5
backboneMCStartTemp           1000
backboneMCEndTemp             0.5
backboneMCCurve               3
backboneConvergedSteps        200
backboneConvergedE            0.001
SL                            90.00
SLInterface                   80.00
runDEESingles                 false
runDEEPairs                   false
runSCMF                       true
useBaseline                   true
useSasa                       true
Ids                           LEU ALA SER VAL ILE THR TRP TYR PHE
deltaZ                        0.5
deltaAx                       2.5
deltaCross                    2.5
deltaX                        0.5
numRepacks                    1
getRandomAxRotAndZShift       false
sasaRepackLevel               SL90.00
sasaRepackLevel               SL80.00
sasaRepackLevel               SL80.00
sasaRepackLevel               SL60.00
interfaceLevel                2
energyTermList                CHARMM_VDW SCWRL4_HBOND CHARMM_IMM1 CHARMM_IMM1REF

