#Input Files
topFile            /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021//data07/sanderson/CATM/topparsolvhbond/top_all22_prot.inp
parFile            /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021//data07/sanderson/CATM/topparsolvhbond/par_all22_prot.inp
solvFile           /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021//data03/CATM/topparsolvhbond/solvpar22.inp
hbondFile          /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021//data01/sabs/tmRepacks/charmm/par_hbond_CA_2.txt
rotLibFile         /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021//data07/sanderson/CATM/rotlib/rotlib_combined_-60,-40.txt
designPdb          /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021/design_1/LLLGSLTTLLGTLLALLLILI/LLLGSLTTLLGTLLALLLILI.pdb
designCrd          /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021/design_1/LLLGSLTTLLGTLLALLLILI/LLLGSLTTLLGTLLALLLILI.crd
outputDir          /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign/12_06_2021/design_1/LLLGSLTTLLGTLLALLLILI

#Geometry
xShift             9.2
crossingAngle      25
axialRotation      40
zShift             4
thread             25
tmStart            1
tmEnd              1

#Design Parameters
sequence              LLLGSLTTLLGTLLALLLILI
rotamerSamplingString 033012103201210230231
seed               1

#Rotamer Sampling Vector
rotamerSampling           0 3 3 0 1 2 1 0 3 2 0 1 2 1 0 2 3 0 2 3 1 0 3 3 0 1 2 1 0 3 2 0 1 2 1 0 2 3 0 2 3 1

#SASA Rotamers
sasaRepackLevel  SL60.00
sasaRepackLevel  SL60.00
sasaRepackLevel  SL60.00
sasaRepackLevel  SL60.00

#Weights
weight_vdw         1
weight_hbond       1
weight_solv        1

#Monomer Energies
monomer            -405.115
monoVdw            -20.5391
monoHbond          -118.164
monoIMM1           -266.411

#Dimer Energies
dimer            -555.613
dimerVdw         -32.7322
dimerHbond       -72.7294
dimerIMM1        -230.01

#Total Energy
Total            -150.498
