########################################################
#  Options from command line arguments:
#
#  NOTE: command line options take priority over the
#        ones entered with the configuration file.
########################################################
configfile                    /exports/home/gloiseau/mslib/trunk_AS/config/seqDesign.config
runNumber                     
xShift                        8
crossingAngle                 20
negAngle                      false
axialRotation                 25
negRot                        true
zShift                        3
verbose                       true

########################################################
#  Options from configuration file :
########################################################
xShift                        8.6
crossingAngle                 25.0
axialRotation                 40
zShift                        4.0
verbose                       false
backboneCrd                   /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.crd
topFile                       /data07/sanderson/CATM/topparsolvhbond/top_all22_prot.inp
parFile                       /data07/sanderson/CATM/topparsolvhbond/par_all22_prot.inp
solvFile                      /data03/CATM/topparsolvhbond/solvpar22.inp
rotLibFile                    /data07/sanderson/CATM/rotlib/rotlib_combined_-60,-40.txt
hbondFile                     /data01/sabs/tmRepacks/charmm/par_hbond_CA_2.txt
pdbOutputDir                  /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign
infile                        /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.pdb
helicalAxis                   /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/helicalAxis.pdb
backboneFile                  /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/69-gly-residue-helix.pdb
terminiRotLibFile             /exports/home/gloiseau/mslib/trunk_AS/library/EBL_11-2011_CHARMM22.txt
geometryDensityFile           /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_10_11_geometryDensityFile.txt
selfEnergyFileSPM             /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_08_30_selfBaselineLILI.txt
pairEnergyFileSPM             /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_08_30_pairBaselineLILI.txt
selfEnergyFile                /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_11_22_IMM1SelfBaseline.txt
pairEnergyFile                /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_11_22_IMM1PairBaseline.txt
seqEntropyFile                /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_12_05_seqEntropies.txt
AACompositionPenaltyFile      /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/AACompositionPenalties.out
transform                     true
thread                        23
getGeoFromPDBData             false
vdWEnergyCutoff               -30
weight_seqEntropy             1
backboneAA                    V
backboneLength                21
linkInterfacialPositions      false
useSasa                       true
MCCycles                      100
MCMaxRejects                  5
MCStartTemp                   1000
MCEndTemp                     0.5
MCCurve                       3
seed                          1
greedyCycles                  3
backboneMCCycles              100
backboneMCMaxRejects          5
backboneMCStartTemp           100
backboneMCEndTemp             0.5
backboneMCCurve               3
SL                            95.00
SLInterface                   95.00
runDEESingles                 false
runDEEPairs                   false
runSCMF                       true
useAlaAtCTerminus             false
useBaseline                   true
Ids                           LEU ALA SER VAL ILE THR TRP TYR PHE GLY
runMCAfterSPM                 true
energyLandscape               true
numStatesToSave               10
numRepacks                    1
sasaRepackLevel               SL60.00
sasaRepackLevel               SL60.00
sasaRepackLevel               SL60.00
sasaRepackLevel               SL60.00
interfaceLevel                2
energyLandscapeTerms          EnergyBeforeLocalMC Dimer Baseline VDWDimer HBONDDimer EnergyBeforeLocalMCw/seqEntropy
energyTermsToOutput           Total Dimer Monomer VDWDimer VDWMonomer HBONDDimer HBONDMonomer IMM1Monomer IMM1Dimer Baseline Baseline-Monomer MonomerSasa DimerSasa InterfaceSasa SequenceProbability SequenceNumber acceptCycleNumber xShift crossingAngle axialRotation zShift
energyTermList                CHARMM_VDW SCWRL4_HBOND CHARMM_IMM1 CHARMM_IMM1REF

