pdbFile /exports/home/scondon/mslib/trunk/myProgs/sgfc/PDBs/31-gly-residue-helix-chainA.pdb
helicalAxisPdbFile /exports/home/scondon/mslib/trunk/myProgs/sgfc/helicalAxis.pdb
outputDir /exports/home/scondon/Desktop/genHomoUniverse/homoDimer/
output genHomoUniverse_selHAO_NEW.txt
sequence AAAAAAAAAAAAAAAGAAAAAAAAAAAAAAA
startResNum 20

numHelices 2

xShiftStart 1
xShiftEnd 10
xShiftSteps 0.1

zShiftStart 3.00
zShiftEnd 3.75
zShiftSteps 0.75

axialRotStart -100
axialRotEnd 0
axialRotSteps 1

crossingAngleStart -55
crossingAngleEnd 55
crossingAngleSteps 1

axZShift -0.015
zAxShift -6.6666666667

unitCellCoord 1
