########################################################
#  Options from command line arguments:
#
#  NOTE: command line options take priority over the
#        ones entered with the configuration file.
########################################################
configfile                    config/seqDesign.config

########################################################
#  Options from configuration file :
########################################################
topFile                       /data07/sanderson/CATM/topparsolvhbond/top_all22_prot.inp
parFile                       /data07/sanderson/CATM/topparsolvhbond/par_all22_prot.inp
solvFile                      /data03/CATM/topparsolvhbond/solvpar22.inp
rotLibFile                    /data07/sanderson/CATM/rotlib/rotlib_combined_-60,-40.txt
terminiRotLibFile             /exports/home/gloiseau/mslib/trunk_AS/library/EBL_11-2011_CHARMM22.txt
backboneCrd                   /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.crd
hbondFile                     /data01/sabs/tmRepacks/charmm/par_hbond_CA_2.txt
pdbOutputDir                  /data02/gloiseau/Sequence_Design_Project/vdwSequenceDesign/sequenceDesign
infile                        /data01/sabs/tmRepacks/pdbFiles/69-gly-residue-helix.pdb
geometryDensityFile           /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_10_11_geometryDensityFile.txt
selfEnergyFileSPM             /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_08_30_selfBaselineLILI.txt
pairEnergyFileSPM             /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_08_30_pairBaselineLILI.txt
selfEnergyFile                /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_11_22_IMM1SelfBaseline.txt
pairEnergyFile                /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_11_22_IMM1PairBaseline.txt
seqEntropyFile                /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/2021_11_21_seqEntropies.txt
AACompositionPenaltyFile      /exports/home/gloiseau/mslib/trunk_AS/myProgs/parameterFiles/designFiles/AACompositionPenalties.out
xShift                        9.2
zShift                        4.0
axialRotation                 40
crossingAngle                 25.0
transform                     true
thread                        25
getGeoFromPDBData             true
vdWEnergyCutoff               -30
weight_seqEntropy             1
backboneAA                    V
backboneLength                21
linkInterfacialPositions      false
useSasa                       true
MCCycles                      5000
MCMaxRejects                  50
MCStartTemp                   5000
MCEndTemp                     0.5
MCCurve                       3
seed                          1
greedyCycles                  10
SL                            95.00
SLInterface                   95.00
runDEESingles                 false
runDEEPairs                   false
runSCMF                       true
verbose                       false
useAlaAtCTerminus             false
useBaseline                   true
Ids                           ALA SER VAL ILE THR TRP TYR PHE GLY
runMCAfterSPM                 true
energyLandscape               true
numStatesToSave               10
sasaRepackLevel               SL95.00
sasaRepackLevel               SL95.00
sasaRepackLevel               SL85.00
sasaRepackLevel               SL60.00
interfaceLevel                2
monomerEnergyTerms            Monomer VDWMonomer HbondMonomer
dimerEnergyTerms              Dimer HbondDimer VDWDimer IMM1Dimer
calcEnergyOfSequenceTerms     EnergyBeforeLocalMC
sequenceMCEnergyTerms         Monomer VDWMonomer HbondMonomer EnergyBeforeLocalMC
energyLandscapeTerms          EnergyBeforeLocalMC Dimer Baseline VDWDimer HBONDDimer EnergyBeforeLocalMCw/seqEntropy
energyTermsToOutput           Total Dimer Monomer VDWDimer VDWMonomer VDWDiff HBONDDimer HBONDMonomer HBONDDiff IMM1Monomer IMM1Dimer IMM1Diff Baseline Baseline-Monomer MonomerSasa DimerSasa InterfaceSasa SequenceProbability SequenceNumber
energyTermList                CHARMM_VDW SCWRL4_HBOND CHARMM_IMM1 CHARMM_IMM1REF

